{% extends "admin/base.html.twig" %}
{% block title %}Modification de l'annonce n°{{ ad.id }}
{% endblock %}

{% form_theme form _self %}

{% block body %}

	<h1 class="text-center my-5">Modification de l'annonce
		{{ad.title}}</h1>
	<div class="container-fluid text-dark">
		{{ form_start(form) }}
		<div class="row">
			<div class="col-md-6">
				<div class="card bg-light">
					<div class="card-header text-center">
						<h4 class="card-title">Corriger l'annonce ?</h4>
					</div>
					<div class="card-body">
						{{ form_widget(form) }}
						<button class="btn btn-info">
							<i class="fas fa-check"></i>Enrengistrement
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card bg-light">
					<div class="card-header text-center">
						<h4>Les réservations</h4>
					</div>
					<div class="card-body">
						<table class="table text-dark">
							<thead>
								<tr>
									<th>Id</th>
									<th>Voyageur</th>
									<th>Date de réservation</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for booking in ad.bookings %}
									<tr>
										<td>{{booking.id}}</td>
										<td>{{booking.booker.fullName}}</td>
										<td>{{booking.createdAt | date('d/m/Y H:i')}}</td>
										<td>
											<a href="#" class="btn btn-success">
												<i class="fas fa-pen"></i>
												Modification</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="col mt-5">
					<div class="card bg-light">
						<div class="card-header text-center">
							<h4>Les commentaires</h4>
						</div>
						<div class="card-body">
							<table class="table text-dark">
								<thead>
									<tr>
										<th>Id</th>
										<th>Voyageur</th>
										<th>Note</th>
										<th>Commentaire</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for comment in ad.comments %}
										<tr>
											<td>{{comment.id}}</td>
											<td>{{comment.author.fullName}}</td>
											<td>{{comment.rating}}</td>
											<td>{{comment.content}}</td>
											<td>
												<a href="#" class="btn btn-success">
													<i class="fas fa-pen"></i>
													Modification</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{ form_end(form) }}
	</div>

{% endblock %}

{% block _ad_images_widget %}

	{{ form_widget(form) }}

{% endblock %}

{% block _ad_images_entry_row %}
	<div id="block_{{id}}">
		{{ form_widget(form) }}
	</div>
{% endblock %}

{% block _ad_images_entry_widget %}
	<div class="row align-items-center mb-3">
		<div class="col-4">
			{% if value %}
				<img src="{{ value.url }}" class="img-fluid" alt="">
			{% endif %}
		</div>
		<div class="col-6">
			{{ form_row(form.caption) }}
		</div>
		<div class="col">
			<button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">
				<i class="fas fa-trash"></i>
			</button>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function () {
$('[data-action="delete"]').on('click', function () {
const target = this.dataset.target;
$(target).remove();
})
})
	</script>
{% endblock %}
