{% extends 'base.html.twig' %}

{% block title %}Inscription au site
{% endblock %}

{% block body %}

	<div class="container text-center text-dark shadow-lg">
		<h1 class="jumbotron bg-dark text-white">Inscrivez vous sur Housebnb</h1>

		{{ form_start(form) }}
		<div class="row">
			<div class="col">
				<div class="alert alert-dismissible alert-primary">
					<h2 class="alert-heading">
						<i class="fas fa-info-circle"></i>
						Mes informations</h2>
					<hr>
					{{form_row(form.firstName) }}
					{{form_row(form.lastName) }}
					{{form_row(form.email) }}
					{{form_row(form.pictures) }}
				</div>
				<div class="alert alert-dismissible alert-primary">
					<h2 class="alert-heading">
						<i class="fas fa-lock"></i>
						Mot de passe</h2>
					<hr>
					{{form_row(form.hash) }}
					{{form_row(form.passwordConfirm) }}
				</div>
			</div>

			<div class="col">
				<div class="alert alert-dismissible alert-primary">
					<h2 class="alert-heading">
						<i class="fas fa-info"></i>
						Détails</h2>
					<hr>
					{{form_row(form.introduction) }}
					{{form_row(form.description) }}
					<hr>
					<button class="btn btn-success">
						<i class="fas fa-sign-in-alt"></i>
						S'inscrire</button>
				</div>
			</div>
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}
