<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
	<a class="navbar-brand" href="{{ path('admin_ads_index') }}">Homebnb</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="#"><i class="fas fa-chart-bar"></i> Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_ads_index') }}"><i class="fas fa-hotel"></i> Annonces</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"><i class="fas fa-folder-open"></i> Réservations</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"><i class="fas fa-comments"></i> Commentaires</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"><i class="fas fa-user"></i> Utilisateurs</a>
			</li>

		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="{{ path('homepage') }}" target="_blank" class="nav_link"><i class="far fa-eye"></i> Voir le site</a>
			</li>
		</ul>
		{% if app.user %}
			<div class="dropdown">
				<a href="{{ path('account_index') }}">
					<img src="{{app.user.pictures}}" class="avatar-mini" alt="photo de profil de l'utilisateur connecté">
				</a>
				<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon compte
				</button>
				<div class="dropdown-menu bg-info text-center" aria-labelledby="dropdownMenu1">
					<a class="text-white" href="{{ path('admin_account_logout') }}">Déconnexion</a>
				</div>
			</div>
		{% endif %}
	</div>
</nav>
{% for label, messages in app.flashes %}
	<div class="container">
		<div class="alert alert-{{ label }}">
			{% for message in messages %}
				<p>{{ message | raw }}</p>
			{% endfor %}
		</div>
	</div>
{% endfor %}
