{% extends "base.html.twig" %}

{% block title %}Réserver l' annonce
	{{ ad.title }}
	!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous"/>
{% endblock %}


{% block body %}

	<div class="container text-center text-dark">
		<h1 class="jumbotron bg-primary text-white mb-5">Réservation de l'annonce :
			{{ ad.title }}
		</h1>

		<p class="text-primary">Vous ếtes sur le point de réserver l'annonce de
			<strong class="text-danger text-uppercase">{{ ad.author.fullName }}</strong>
		</p>

		{{ form_start(form)}}
		<div class="alert alert-danger">
			<h2>Commencez par nous dire quelles sont les dates qui vous intéressent ?</h2>
			<div class="row">
				<div class="col">
					{{ form_row(form.startDate)}}
				</div>
				<div class="col">
					{{ form_row(form.endDate)}}
				</div>
			</div>

			<h4>Montant du séjour :
				<span id="amount">...</span>
				&euro;</h4>
			<span id="days">0</span>
			nuit(s) à
			{{ ad.price}}€/nuit

			<h2 class="my-5">Vous avez un commentaires à faire part</h2>

			<div class="mb-5 form-group">
				{{form_row(form.comment)}}
			</div>
		</div>


		<div class="jumbotron bg-primary text-white">
			<h2 class="my-5 text-white">Vous avez terminé !</h2>
			<p>Vacances de rếve, boulots ou escale? Peut importe on est avec vous
			</p>
		</div>

		<button class="btn btn-success" type="submit">Je réserve</button>

		{{form_end(form)}}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function () {
$('#booking_startDate, #booking_endDate').datepicker({
format: 'dd/mm/yyyy',
datesDisabled: [{% for day in ad.notAvailableDays %}"{{ day.format('d/m/Y') }}",{% endfor %}],
startDate: new Date()
});

$('#booking_startDate, #booking_endDate').on('change', calculateAmount);

});

function calculateAmount(params) { // on récupère les dates
const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));

if (startDate && endDate && startDate < endDate) {

const DAY_TIME = 24 * 60 * 60 * 1000;
const interval = endDate.getTime() - startDate.getTime();
const days = interval / DAY_TIME;

const amount = days * {{ ad.price }};

$('#days').text(days);
$('#amount').text(amount.toLocaleString('fr-FR'));
}
}
	</script>
{% endblock %}
