{% extends "base.html.twig" %}

{% block title %}Validation de la réservation n°
	{{booking.id}}
{% endblock %}

{% block body %}

	{% set ad = booking.ad %}
	{% set author = ad.author %}
	<div class="container text-primary">
		<h1>Votre réservation n°{{booking.id}}</h1>

		{% if app.request.query.get('withAlert')%}
			<div class="alert alert-success">
				<h4 class="alert-heading">Bravo !</h4>
				<p>
					Votre réservation auprès de
					<a href="{{ path("user_show", {'slug': author.slug})}}">{{author.fullName}}</a>
					pour l'annonce
					<a href="{{ path("ads_show", {'slug': ad.slug})}}">{{ad.title}}</a>
					a bien été prise en compte !
				</p>
			</div>
		{% endif %}

		<div class="row">
			<div class="col">
				<div class="alert alert-light text-primary">
					<h2>Détails</h2>
					<dl class="row">
						<dt class="col-md-4">Numéro</dt>
						<dd class="col-md-8">{{booking.id}}</dd>
						<dt class="col-md-4">Date d'arrivée</dt>
						<dd class="col-md-8">{{booking.startDate | date('d/m/Y')}}</dd>
						<dt class="col-md-4">Date de dépat</dt>
						<dd class="col-md-8">{{booking.endDate | date('d/m/Y')}}</dd>
						<dt class="col-md-4">Nombre de nuits</dt>
						<dd class="col-md-8">{{booking.duration}}</dd>
						<dt class="col-md-4">Montant</dt>
						<dd class="col-md-8">{{booking.amount}}
							€</dd>
						<dt class="col-md-4">Commentaire</dt>
						<dd class="col-md-8">{{booking.comment | default("Aucun commentaire")}}</dd>
					</dl>

					<hr>
					<h2 class="alert-heading">Votre hôte</h2>

					<div class="row mb-3">
						<div class="col-3">
							<img src="{{author.pictures}}" class="avatar avatar-medium" alt="Avatar de {{author.fullName}}">
						</div>

						<div class="col-9">
							<h4>
								<a href="{{ path('user_show', {'slug': author.slug}) }}" class="text-info">{{author.fullName}}</a>
							</h4>
							<span class="badge badge-info">{{author.ads |length}}
								annonces</span>
						</div>
					</div>
					{{author.description |raw}}

					<a href="{{ path('user_show', {'slug': author.slug}) }}" class="btn btn-info">Plus d'info sur
						{{author.firstName}}</a>
				</div>

				<div class="alert alert-warning alert-dismissible fade show text-white">
					<h2 class="alert-heading">Votre avis compte !</h2>
					{% if date() > date(booking.endDate) %}
						{{ form_start(form) }}
						{{ form_widget(form) }}
						<button type="submit" class="btn btn-success">Envoyer</button>
						{{ form_end(form) }}
					{% else %}
						<p>Vous ne pourrez pas noté cette annonce tant que votre voyage ne sera pas complet !</p>
					{% endif %}
				</div>
			</div>
			<div class="col">

				<div class="alert alert-ligth">
					<h2 class="alert-heading">Votre hébergement</h2>

					<h4>
						<a href="{{ path('ads_show', {'slug': ad.slug}) }}">
							{{ad.title}}</a>
					</h4>
					<img src="{{ ad.coverImage}}" alt="image de {{ad.title }}" class="img-fluid">

					{{ad.content | raw}}

					<a href="{{ path('ads_show', {'slug': ad.slug}) }}" class="btn btn-info">Plus d'informations</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
