{% set url = path('ads_show', {'slug': ad.slug}) %}
<div class="col-md-4">
    <div class="card bg-light mb-3 text-primary">
        <div class="card-header text-center">
            {{ ad.rooms }}
            chambres,
            <strong>{{ ad.price }}€/nuit</strong><br>
            <small>Pas encore noté</small>
        </div>
        <img src="{{ ad.coverImage }}" alt="Image de l'appartement" style="height: 200px; width:100%; display: block">

        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ url }}">{{ ad.title }}</a>
            </h4>
            <p class="card-text">{{ ad.introduction }}</p>
            <a href="{{ url }}" class="btn btn-info">En savoir plus</a>

        </div>
    </div>
</div>
