{% extends 'base.html.twig' %}

{% block title %}
	Création d'une annonce
{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
	<div class="container text-primary">
		<h1 class="text-center my-5">Créer une nouvelle annonce</h1>

		{{ form_start(form) }}
		<div class="row">
			<div class="col">
				<div class="alert alert-dismissible alert-primary">
					<h2 class="text-center">
						<i class="far fa-address-card"></i>
						Informations générales</h2>
					<hr>
					{{form_row(form.title)}}
					{{form_row(form.slug)}}
					{{form_row(form.price)}}
					{{form_row(form.rooms)}}
				</div>
				<div class="alert alert-dismissible alert-primary">
					<h2 class="text-center">
						<i class="fas fa-info-circle"></i>
						Détails de l'annonce</h2>
					<hr>
					{{form_row(form.introduction)}}
					{{form_row(form.Content)}}
				</div>
			</div>
			<div class="col">
				<div class="alert alert-dismissible alert-primary">
					<h2 class="text-center">
						<i class="fas fa-images"></i>
						Image de l'annonce</h2>
					<hr>
					{{form_row(form.coverImage)}}
					{{form_row(form.images)}}
				</div>
			</div>
		</div>
		<div class="alert alert-success clearfix mt-3 text-white">
			<h2 class="alert-heading ">Enrengistrer mon annonce</h2>
			<p>Vous ếtes sur le point de créer votre annonce !!!</p>
			<button class="btn btn-info float-right">
				<i class="fas fa-check"></i>
				Créer la nouvelle annonce</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('js/app') }}
{% endblock %}
