{% extends 'base.html.twig' %}

{% block title %}   Création d'une annonce {% endblock %}

{% form_theme form_self %}

{% block body %}
    <div class="container text-primary">
        <h1 class="text-center my-5">Créer une nouvelle annonce</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button class="btn btn-info">Créer la nouvelle annonce</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block _ad_images_widget %}
    <p>Ici, vous pouvez ajouter vos propres images !</p>
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" id="add-images" class="btn btn-primary">Ajouter une nouvelle image</button>
    </div>
{% endblock %}

{% block _ad_image_entry_row %}
{{ form_widget(form) }}

{% endblock %}

{% block _ad_images_entry %}
    <div class="form-group">
        <div class="row">
            <div class="col">
                {{ form_widget(form_url ) }}
            </div>
            <div class="col">
                {{ form_widget(form_caption) }}
            </div>

        </div>
    </div>
{% endblock %}
